body {
    font-family: 'Unbounded', cursive;
    background-color: #f3f1e7;
    color: rgb(52, 33, 33);
}
.container {
    width: 50vw;
    margin: 3rem auto;
    max-width: 600px;
}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 1fr;
    gap: 1rem;
    margin: 2rem 0;
}
.square {
    background-color: aliceblue;
    text-align: center;
    padding: 5rem;
    color: aliceblue;
    font-size: 1rem;
}
.square:hover {
    cursor: pointer;
}
.square img {
    width: 1rem;
}
.clicked-x {
    background-color: #afd9d4;
}
.clicked-o {
    background-color: #036b4d;
}
.button {
    color: #000000;
    padding: 1rem 0;
    align-items: end;
    text-align: right;
}
.button:hover {
    cursor: pointer;
    text-decoration-line: underline;
    text-underline-offset: 8px;
}
.no-hover:hover{
    cursor: unset;
}


@media screen and (max-width: 800px) {
    .container {
        width:90vw;
    }
    .button {
        position: absolute;
        right: 5vw;
    }
}